from meshtrade.{{.Domain}}.{{.ServiceName}}.{{.Version}} import (
    {{.ServiceTitle}}Service,
    ClientOptions,
)


def main():
    # TODO: Add example code for {{.MethodName}}
    # Create client and call {{.MethodName}} method
    print("Example for {{.MethodName}}")


if __name__ == "__main__":
    main()