package main

import (
	"context"
	"log"

	{{.ServiceVariable}}v1 "github.com/meshtrade/api/go/{{.Domain}}/{{.ServiceName}}/{{.Version}}"
)

func main() {
	// TODO: Add example code for {{.MethodName}}
	// Create client and call {{.MethodName}} method
	log.Println("Example for {{.MethodName}}")
}